annotated-doc
apscheduler
annotated-types
anyio
attrs
av
certifi
cffi
click
cloudpickle
colorama
ctranslate2
dlinfo
dnspython
espeakng-loader
fastapi
faster-whisper
filelock
flatbuffers
fsspec
groq
h11
hf-xet
httpcore
httptools
httpx
huggingface_hub
idna
Jinja2
joblib
kokoro-onnx
laya
markdown-it-py
MarkupSafe
mdurl
motor
mpmath
networkx
numpy
ollama
onnxruntime
packaging
phonemizer
protobuf
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
pymongo
python-dotenv
python-multipart
PyYAML
regex
rich
safetensors
setuptools
shellingham
soundfile
starlette
sympy
tokenizers
tqdm
transformers
typer
typing-inspection
typing_extensions
uvicorn
watchfiles
websockets
pydub
librosa
